
<div class="container">
<nav class="navbar">
    <div class="logo">Raviteja Vangara</div>
    <ul class="nav-links">
        <li> <a routerLink="/Home" routerLinkActive="active">Home </a></li>
        <li><a routerLink="/Projects" routerLinkActive="active">Projects</a></li>
        <li><a routerLink="/About" >About</a></li>

    </ul>
    <!-- <div class="menu-toggle">&#9776;</div> -->
</nav>

<section>
    <div class="hero">
        <div class="hero-content">

            <!-- <div class="about-container"> -->
                <div class="about-content">
                  <h1>About Me</h1>
                  <p>
                    I'm a passionate <strong class="highlight">.NET Full Stack Developer</strong> with over 3+ years of experience in designing and developing modern web applications. I specialize in technologies like
                    <strong class="highlight">MS SQL, .NET Core, C#, Angular, and Web API</strong>, and also possess strong skills in <strong class="highlight">Power BI, DAX</strong> for data analytics.
                  </p>
                  <p>
                    I enjoy building scalable backend services and crafting clean, responsive frontend UIs. I believe in writing clean, maintainable code and continuously improving through learning and collaboration.
                  </p>
                  <p>
                    Outside of coding, I’m enthusiastic about UI/UX design and turning complex requirements into elegant, user-friendly experiences.
                  </p>
                </div>
                
              </div>
              <div class="footer">
                <link
                rel="stylesheet"
                href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"/>

                <a href="https://www.linkedin.com/in/raviteja-vangara-32a206301" target="_blank" rel="noopener noreferrer" class="linkedin-icon">
                <i class="fab fa-linkedin"></i></a>

                <a href="mailto:ravitejavangara8@gmail.com" class="social-icon">
                    <i class="fas fa-envelope"></i> <strong class="highlight">ravitejavangara8@gmail.com</strong>
                  </a>
                  
                  <a href="tel:+919999999999" class="social-icon">
                    <i class="fas fa-phone-alt"></i> <strong class="highlight">8792853802</strong>
                  </a>
              </div>
        </div>
    <!-- </div> -->
</section>
</div>
