<nav class="navbar">
    <div class="logo">Raviteja Vangara</div>
    <ul class="nav-links">
        <li> <a routerLink="/Home" routerLinkActive="active">Home </a></li>
        <li><a routerLink="/Projects" >Projects</a></li>
        <li><a routerLink="/About" >Contact</a></li>
    </ul>
    <!-- <div class="menu-toggle">&#9776;</div> -->
</nav>
<section>
    <div class="hero">
        <div class="hero-content">
            <div class="text-area">
                <h1>Hi, I'm <span>Raviteja!</span></h1>
                <h2><span class="highlight">Software Developer</span></h2>
                <p>
                    I'm a passionate .NET Full Stack Developer with 3+ years of experience in building dynamic and
                    data-driven applications using MS SQL, .NET Core, C#, Angular, and Web API. I also bring strong
                    expertise in Power BI and DAX to deliver impactful business insights through interactive dashboards
                    and reports.
                </p>
                <div class="actions">
                    <!-- <button class="download-btn">Download CV &#x2B07;</button> -->
                    <a href="../../../assets/Resume/Raviteja_SoftwareDeveloper.pdf" download class="download-btn">
                        Download CV &#x2B07;
                      </a>
                </div>
            </div>
            <div class="image-area">
                <div class="hexagon-frame">
                    <img src="../../../assets/Img/Ravi.jpg" alt="ravi" class="profile-img" />
                </div>
            </div>
        </div>
    </div>
</section>