<!-- set NODE_OPTIONS=--openssl-legacy-provider
    $env:NODE_OPTIONS="--openssl-legacy-provider" -->

<!-- Pushing Into Public
    ng build --prod
    npm install -g angular-cli-ghpages
    ng build --base-href "https://raviptg.github.io/Portfolio/"
    npx angular-cli-ghpages --dir=dist/portfolio -->

<!-- <nav class="navbar">
    <div class="logo">Raviteja Vangara</div>
    <ul class="nav-links">
        <li> <a routerLink="/Home" routerLinkActive="active">Home </a></li>
        <li><a routerLink="/Projects" >Projects</a></li>
        <li><a routerLink="/About" >Contact</a></li>
    </ul>
</nav>
<section>
    <div class="hero">
        <div class="hero-content">
            <div class="text-area">
                <h1>Hi, I'm <span>Raviteja!</span></h1>
                <h2><span class="highlight">Software Developer</span></h2>
                <p>
                    I'm a passionate .NET Full Stack Developer with 3+ years of experience in building dynamic and
                    data-driven applications using MS SQL, .NET Core, C#, Angular, and Web API. I also bring strong
                    expertise in Power BI and DAX to deliver impactful business insights through interactive dashboards
                    and reports.
                </p>
                <div class="actions">
                    <a href="assets/Resume/Raviteja_SoftwareDeveloper.pdf" download class="download-btn">
                        Download CV &#x2B07;
                      </a>
                </div>
            </div>
            <div class="image-area">
                <div class="hexagon-frame">
                    <img src="assets/Img/Ravi.jpg" alt="ravi" class="profile-img" />
                </div>
            </div>
        </div>
    </div>
</section> -->

<div class="container">
    <nav class="navbar">
      <div class="logo">Raviteja Vangara</div>
      <ul class="nav-links">
        <li><a routerLink="/Home" routerLinkActive="active">Home</a></li>
        <li><a routerLink="/Projects">Projects</a></li>
        <li><a routerLink="/About">Contact</a></li>
      </ul>
    </nav>
  
    <section>
      <div class="hero">
        <div class="hero-content">
          <div class="text-area">
            <h1>Hi, I'm <span>Raviteja!</span></h1>
            <h2><span class="highlight">Software Developer</span></h2>
            <p>
              I'm a passionate .NET Full Stack Developer with 3+ years of experience in building dynamic and
              data-driven applications using MS SQL, .NET Core, C#, Angular, and Web API. I also bring strong
              expertise in Power BI and DAX to deliver impactful business insights through interactive dashboards
              and reports.
            </p>
            <div class="actions">
              <a href="assets/Resume/Raviteja_SoftwareDeveloper.pdf" download class="download-btn">
                Download CV &#x2B07;
              </a>
            </div>
          </div>
          <div class="image-area">
            <div class="hexagon-frame">
              <img src="assets/Img/Ravi.jpg" alt="ravi" class="profile-img" />
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  