* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  // background-color: #0d1117;
  color: white;
}

/* Container */
.container {
  width: 100%;
  // padding: 0 20px;
}
.container {
  max-width: auto;
  margin: 0 auto;
  // padding: 0 20px;
}
.hero {
  // background-color: #0d1117;
  color: white;
  padding: 0.2rem;
  font-family: 'Segoe UI', sans-serif;
  min-height: 83vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  padding: 0.5rem;
  font-family: 'Segoe UI', sans-serif;
  background-color: #28e98c;
  
}
li a {
    text-decoration: none;
    color: white;
    font-weight: 500;
  }
  
  li a:hover {
    color: #090909; /* Optional hover effect */
  }

  .nav-links li a.active {
  color: #000000 !important;
}
  
.logo {
  font-size: 1.8rem;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.nav-links li {
  cursor: pointer;
}

.nav-links li a {
  position: relative;
  transition: color 0.3s ease;
}

.nav-links li a::after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: white;
  transition: width 0.3s ease;
}

.nav-links li a:hover::after {
  width: 100%;
}


.menu-toggle {
  display: none;
  font-size: 2rem;
}

.hero-content {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-around;
  align-items: center;
  margin: 5rem 5rem 5rem 5rem;
}

// .text-area {
//   max-width: 700px;
// }

.text-area {
  flex: 1 1 60%;
}

.image-area {
  flex: 1 1 35%;
}


.text-area h1 span,
.text-area h2 .highlight {
  color: #28e98c;
}

.text-area p {
  color: #181818;
  margin-top: 1rem;
  line-height: 1.6;
}

.actions {
  margin-top: 2rem;
  display: flex;
  gap: 1rem;
}

.download-btn {
  background-color: #424242;
  border: none;
  padding: 0.75rem 1.5rem;
  color: #fdfdfd;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}

.download-btn:hover {
  transform: scale(1.05);
  background-color: #28e98c;
  color: #0d1117;
  transition: all 0.3s ease;
}

.hexagon-frame:hover {
  transform: scale(1.05);
  background-color: #28e98c;
  color: #0d1117;
  transition: all 0.3s ease;
}

.image-area {
  margin-top: 1rem;
}

.hexagon-frame {
  width: 400px;
  height: 400px;
  clip-path: polygon(25% 6.7%, 75% 6.7%, 100% 50%, 75% 93.3%, 25% 93.3%, 0% 50%);
  background-color: #000000;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  clip-path: polygon(25% 6.7%, 75% 6.7%, 100% 50%, 75% 93.3%, 25% 93.3%, 0% 50%);
}
// .profile-img {
//   animation: float 3s ease-in-out infinite;
// }

// @keyframes float {
//   0%, 100% { transform: translateY(0); }
//   50% { transform: translateY(-10px); }
// }


h1{
  width: 50ch;
  text-wrap: nowrap;
  overflow: hidden;
  border-right: 2px solid #28e98c;
  animation: typing 2s steps(20) infinite alternate-reverse;
}
@keyframes typing {
  from { width: 0 }
  to { width: 15ch }
}
@keyframes blink {
  50% { border-color: transparent }
}
.project-grid {
    // display: flex;
    display: grid;
    // grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    padding: 20px;
    justify-content: space-evenly;
  }
  
  .project-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: solid 1px;
    border-color: #000000;
  }
  
  .project-card h3 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
  }
  
  .project-card p {
    font-size: 1rem;
    color: #666;
    line-height: 1.5;
  }
  
  .project-card:hover {
    transform: translateY(-5px);
    border: solid 5px;
    border-color: #28e98c;
  }

  .icons{
    border: solid 1px;
    color: #000000;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  @media (max-width: 480px) {
  .project-card {
    margin: 5px;
    font-size: 1.4rem;
  }
  .hero-content {
    margin: 1rem;
  }
  .project-grid{
    display: contents;
  }
}