<div class="container">
<nav class="navbar">
    <div class="logo">Raviteja Vangara</div>
    <ul class="nav-links">
        <li> <a routerLink="/Home" routerLinkActive="active">Home </a></li>
        <li><a routerLink="/Projects" routerLinkActive="active">Projects</a></li>
        <li><a routerLink="/About" >Contact</a></li>

    </ul>
    <!-- <div class="menu-toggle">&#9776;</div> -->
</nav>
<section>
    <div class="hero">
        <div class="hero-content">
            <!-- <div class="text-area"> -->
                <!-- <h1 class="highlight">Projects</h1> -->
                <div class="project-grid">
                    <div class="project-card">
                      <h3 ><img src="assets/Img/PAC.PNG" style="width: 12rem;"></h3>
                      <p>PAC World wide’s sustainability mission is to be the leader in sustainable flexible packaging. To achieve this, we are focusing on being an active and continuous member of the circular economy by keeping packaging in the economy and out of the environment by designing for recycling, increasing recycled content in our products and creating demand for products that are made of recycled content</p>
                    </div>
                    <div class="project-card">
                        <h4><img src="assets/Img/WSSB.PNG" style="width: 4rem;"></h4>
                      <p>The ORC is to support and advocate for the educational needs of students who are blind or have a low vision in the state of Washington. Services are available to public and private schools and agencies providing educational programs of less than college level for students who are blind or low vision. </p>
                    </div>
                    <div class="project-card">
                        <h3 ><img src="assets/Img/SM.PNG" style="width: 12rem;"></h3>
                      <p>The SmartLinx workforce management solution assists healthcare providers in managing people & processes using real-time data. The suite includes modules for talent acquisition and onboarding, human resources, benefits and payroll, time and attendance, scheduling, compliance, and business analytics</p>
                    </div>
                    <div class="project-card">
                        <h3 ><img src="assets/Img/Court.PNG" style="width: 12rem;"></h3>
                      <p>Ocourt is a Case Management System. It helps with automating the documentation process. This
                        application is used by Court Admins, Clerks, Judges, Prosecutors, Defense Attorneys for managing the
                        court process\scheduling cases and issuing documents</p>
                    </div>
                  </div>
                  
            </div>
        </div>
    <!-- </div> -->
</section>
</div>